@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Bonheur+Royale&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Jura:wght@300..700&family=Xanh+Mono:ital@0;1&display=swap');

.dark-frame {
    text-align: center;
    margin: 10px auto;
    background: var(--backg);
    border: 2.5px solid var(--border); 
    border-radius: 10px;
    max-width: 700px;
    width: 100%;
    padding: 40px;
    outline-offset: -10px;
    position: relative;
    display: block;
    box-sizing: border-box;
  }

  .dark-box {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    gap: 1.8px;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .d-image-01 {
    display: block;
    box-sizing: border-box;
    width: 60%;
    max-width: 475px;
    height: 150px;
    border: 2.5px solid var(--borderim);
    border-radius: 10px;
    object-fit: cover;
  }

  .d-image-02 {
    display: block;
    box-sizing: border-box;
    width: 30%;
    max-width: 175px;
    height: 150px;
    border: 2.5px solid var(--borderim);
    border-radius: 10px;
    object-fit: cover;
  }

  .dark-title {
    font-family: "Bonheur Royale", cursive;
    font-weight: 400;
    max-width: 100%;
    font-style: normal;
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 0;
    padding-top: 0;
    color: var(--text);
  }

  .dark-content-text {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 565px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;       
    text-align: justify;
    line-height: 1.7;
    font-size: 16px;
    color: var(--text);
  }

  .d-decorate {
    width: 50px;
    object-fit: cover;
    height: 50;
    margin-bottom: -5px;
    padding: 0;
  }
  
  .dark-textquote {
    font-family: "Bai Jamjuree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 6px;
    color: var(--textst);
    margin-left: 33px;
  }

  .dark-textquote-02 {
    font-family: "Bai Jamjuree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 13px;
    font-style: italic;
    text-align: right;
    margin-top: -5px;
    margin-top: 0;
    color: var(--textst);
    margin-right: 30px;
}

.dark-box-02 {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
}

.dark-remark {
    display: block;
    margin-right: 25px;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: auto;
    height: auto;
    margin-top: 40px;
    border: 2.2px solid var(--border-remark);
    border-radius: 20px;
    color: var(--text);
    font-family: "Bai Jamjuree", sans-serif;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3px;
    padding-top: 3px;
}